@charset "utf-8";

.MAfter1{
	background-image: url("images/After/office.jpg");
	background-repeat:no-repeat;
	background-size:cover; 
}
.MAfter2{
	background-image: url("images/After/cafe.jpg");
	background-repeat:no-repeat;
	background-size:cover; 
}
.MAfter3{
	background-image: url("images/After/room.jpg");
	background-repeat:no-repeat;
	background-size:cover; 
}
.MAfter4{
	background-image: url("images/After/izakaya.jpg");
	background-repeat:no-repeat;
	background-size:cover; 
}


#MAfter p{
	 margin: 15px 0;
}
.A_hidden{
	visibility:hidden;
	display:none;

}

#A_message{
	width:800px;
	height:110px;
	position:absolute;
	left: 150px;
	top:650px;
	padding: 30px;
	background:rgba(255,255,255,0.8);
	border-radius: 5px;
	color:black;

}
.A_anime{
	animation-name:A_anime;
	animation-duration:2s;
	font-size:20px;
	font-weight:900;
	line-height:0.8;
}

@keyframes A_anime{
	0%{color:rgba(0,0,0,0.2);
	font-size:10px;
	}
	100%{color:rgba(0,0,0,1);
	font-size:20px;
	}
}

.MendSerifBtn{
	width: 100px;
	height: 80px;
	background: #fff;
	color: #555;
	position: absolute;
	z-index: 1100;
	top: 810px;
	left: 1050px;
	display: none; !important;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	border-bottom: 2px solid #999;
}